.appContainer {
  max-width: 50vw !important;
  background-color: grey;
  text-align: left;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.formContainer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.textField {
  max-width: 300px;
}

